parameters:
    level: 6
    paths:
        - themes
        - plugins
    excludePaths:
        - '*/node_modules/*'
        - '*/vendor/*'
includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon