{
    "extends": [
        "plugin:@wordpress/eslint-plugin/recommended",
        "prettier"
    ],
    "env": {
        "browser": true,
        "es6": true
    },
    "rules": {
        "prettier/prettier": 0
    }
}
